body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#club-logo {
    width: 20vw;
}

#connect-wallet {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#connect-wallet:hover {
    background-color: #0056b3;
}

#wallet-info {
    text-align: center;
    margin-top: 50px;
    border: 1px solid #ddd;
    padding: 20px;
}
